.banner {
  -webkit-app-region: drag;

  .el-button {
    -webkit-app-region: no-drag;
  }

  .top-button,
  .min-button,
  .max-button,
  .restore-button,
  .close-button {
    -webkit-app-region: no-drag;
  }
}