@import 'normalize.css/normalize.css';
@import './exe.scss';

.el-container {
  height: 100%;
}

.el-header,
.el-main {
  padding: 0;
}

.banner {
  background-color: #252526;
}

.subtitle::before {
  background-color: #4c4d4f;
}

.project-list-table {
  background-color: #141414;
}

.el-form {
  background-color: #141414;
}